rs.initiate()
sleep(13000)
{% for host in groups.mongo_orig %}
rs.add("{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:27017")
sleep(8000)
{% endfor %}
{% for host in groups.arbiter %}
rs.addArb("{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:27017")
{% endfor %}
printjson(rs.status())
db = db.getSiblingDB('emp');
db.createUser({ user: 'emp',  pwd: 'emp',  roles: [ { role: 'dbOwner', db: 'emp' } ]});

db = db.getSiblingDB('vns');
db.createUser({ user: 'vns',  pwd: 'vns',  roles: [ { role: 'dbOwner', db: 'vns' } ]});

db = db.getSiblingDB("Operations")
db.createUser({ user: 'opevents',  pwd: 'opevents',  roles: [ { role: 'dbOwner', db: 'Operations' } ]});

db = db.getSiblingDB("acs")
db.createUser({ user: 'acs',  pwd: 'acs',  roles: [ { role: 'dbOwner', db: 'acs' } ]});

db = db.getSiblingDB("oplog")
db.createUser({ user: 'oplog',  pwd: 'oplog',  roles: [ { role: 'dbOwner', db: 'oplog' } ]});

db = db.getSiblingDB("spotlink")
db.createUser({ user: 'spotlink',  pwd: 'spotlink',  roles: [ { role: 'dbOwner', db: 'spotlink' } ]});

db = db.getSiblingDB("vex")
db.createUser({ user: 'vex',  pwd: 'vex',  roles: [ { role: 'dbOwner', db: 'vex' } ]});

db = db.getSiblingDB("metamore")
db.createUser({ user: 'metamore',  pwd: 'metamore',  roles: [ { role: 'dbOwner', db: 'metamore' } ]});

db = db.getSiblingDB("vinz")
db.createUser({ user: 'vinz',  pwd: 'vinz',  roles: [ { role: 'dbOwner', db: 'vinz' } ]});

db = db.getSiblingDB("spotbuilder")
db.createUser({ user: 'spotbuilder', pwd: 'spotbuilder', roles: [ { role: 'dbOwner', db: 'spotbuilder' },{ role: 'dbOwner', db: 'spotbuilder2' } ]});

db = db.getSiblingDB("spotbuilder2")
db.createUser({ user: 'spotbuilder', pwd: 'spotbuilder', roles: [ { role: 'dbOwner', db: 'spotbuilder' },{ role: 'dbOwner', db: 'spotbuilder2' } ]});

db = db.getSiblingDB("spotbuilder")
db.grantRolesToUser("spotbuilder",[{ role: "dbOwner", db: "spotbuilder2" }])

db = db.getSiblingDB("idp")
db.createUser({ user: 'idp',  pwd: 'idp',  roles: [ { role: 'dbOwner', db: 'idp' } ]});
db.ReportContent.ensureIndex({'createDate':1},{expireAfterSeconds:72000});

db = db.getSiblingDB("isp")
db.createUser({ user: 'isp',  pwd: 'isp',  roles: [ { role: 'dbOwner', db: 'isp' } ]});

db = db.getSiblingDB("admin")
db.createUser({ user: 'admin',  pwd: 'admin',  roles: [ { role: 'dbOwner', db: 'admin' }, { role: 'root', db: 'admin' } ]});

db = db.getSiblingDB("esp")
db.createUser({ user: 'esp',  pwd: 'esp',  roles: [ { role: 'dbOwner', db: 'esp' } ]});

db = db.getSiblingDB("idp")
db.ReportContent.ensureIndex({'createDate':1},{expireAfterSeconds:72000});


db = db.getSiblingDB("Operations")
db.OperationalEvents.ensureIndex({"ts":-1}, {expireAfterSeconds:604800})
db.OperationalEvents.ensureIndex({"hashPrefix":1})
db.slr_audit_msgs.ensureIndex({"ts":1}, {expireAfterSeconds:5400})
db.slr_audit_msgs.ensureIndex({"hashPrefix":1, tk: 1})
db.slr_access_log.ensureIndex({"ts":1}, {expireAfterSeconds:1814400})
db.slr_access_log.ensureIndex({"hashPrefix":1, tk: 1})
db.slr_decision_aggregate.ensureIndex({"ts":1}, {expireAfterSeconds:604800})
db.slr_decision_aggregate.ensureIndex({"hashPrefix":1, tk: 1})
db.acs_decision.ensureIndex({"ts":1}, {expireAfterSeconds:3600})
db.acs_decision.ensureIndex({"hashPrefix":1, tk: 1})
db.acs_decision_aggregate.ensureIndex({"ts":1}, {expireAfterSeconds:604800})
db.acs_apnotify.ensureIndex({"ts":1}, {expireAfterSeconds:604800})
db.acs_signals.ensureIndex({"ts":1}, {expireAfterSeconds:604800})


db = db.getSiblingDB("oplog")
db.CollatedOpLog.ensureIndex({ts: 1}, {expireAfterSeconds:3456000})


db = db.getSiblingDB("spotlink")
db.trackingEvents.ensureIndex({"ts":1}, {expireAfterSeconds:28800})
db.trackingEvents.ensureIndex({"hashPrefix":1, "tk": 1})
db.fallbackAds.ensureIndex({adsName : 1})
db.fallbackAds.ensureIndex({opportunityType : 1})
db.fallbackAds.ensureIndex({duration : -1})


db = db.getSiblingDB("metamore")
db.AssetContainer.dropIndex( {"endDateTime" : 1} )
db.AssetContainer.ensureIndex( { "endDateTime": 1 },{ expireAfterSeconds: 31536000 } )
db.AssetContainer.createIndex( { "lastUpdatedOn": 1 } )
db.AssetContainer.createIndex( { "organizationId": 1 } )
db.AssetContainer.createIndex( { "assets.uriId": 1 } )
db.AssetContainer.createIndex( { "assets.name": 1 } )
db.AssetContainer.createIndex( { "billingId": 1 } )
db.AssetContainer.createIndex( { "contentType": 1 } )
db.AssetContainer.createIndex( { "offerUriId": 1 } )
db.AssetContainer.createIndex( { "packageName": 1 }, {"sparse" : true} )
db.AssetContainer.createIndex( { "profileType": 1 } )
db.AssetContainer.createIndex( { "product": 1 } )
db.AssetContainer.createIndex( { "providerId": 1 } )
db.AssetContainer.createIndex( { "providerName": 1 } )
db.AssetContainer.createIndex( { "startDateTime": 1 } )
db.AssetContainer.createIndex( { "uriIds": 1 } )
db.AssetContainer.createIndex( { "assetIds": 1 } )
db.AssetContainer.createIndex( { "titleString": 1 } )
db.AssetContainer.createIndex( { "movieDuration": 1 } )
db.AssetContainer.createIndex( { "assets.alternateIds.value": 1 } )
db.AssetContainer.createIndex( { "assets.programmerCallLetters": 1 } )
db.AssetContainer.createIndex( { "assets.sourceUrl": 1 } )
db.AssetContainer.createIndex( { "assets.signals.validityWindow.startDateTime": -1 } )
db.AssetContainer.createIndex( { "assets.signals.validityWindow.endDateTime": -1 } )
db.AssetContainer.createIndex( { "assets.signals.startPointScte35PointDescriptor.spliceInsert.spliceEventId": 1 } )
db.AssetContainer.createIndex( { "organizationId": 1, "offerUriId" : 1 }, {"name" : "organizationId_offerUriId", "unique": true } )

db.AssetTemplates.createIndex( { "organizationId": 1 } )
db.AssetTemplates.createIndex( { "lastUpdatedOn": 1 } )
db.AssetTemplates.createIndex( { "externProviderId": 1 } )
db.AssetTemplates.createIndex( { "externAssetId": 1 } )
db.AssetTemplates.createIndex( { "createdDateTime": 1 } )
db.AssetTemplates.createIndex( { "lastIngestDateTime": 1 } )
db.AssetTemplates.createIndex( { "lastModifiedDateTime": 1 } )
db.AssetTemplates.createIndex( { "lastPublishedDateTime": 1 } )
db.AssetTemplates.createIndex( { "seasonTemplateUuid": 1 } )
db.AssetTemplates.createIndex( { "title": 1 } )
db.AssetTemplates.createIndex( { "contentType": 1 } )
db.AssetTemplates.createIndex( { "assetType": 1 } )
db.AssetTemplates.createIndex( { "seriesName": 1 } )
db.AssetTemplates.createIndex( { "providerId": 1 } )
db.AssetTemplates.createIndex( { "episodeId": 1 } )
db.AssetTemplates.createIndex( { "episodeName": 1 } )
db.AssetTemplates.createIndex( { "template.lastUpdatedOn": 1 } )
db.AssetTemplates.createIndex( { "template.organizationId": 1 } )
db.AssetTemplates.createIndex( { "template.name": 1 } )

db.DistributionTarget.createIndex( { "organizationId": 1 } )
db.DistributionTarget.createIndex( { "lastUpdatedOn": 1 } )
db.DistributionTarget.createIndex( { "name": 1 } )
db.DistributionTarget.createIndex( { "deliveryType": 1 } )

db.DailySignalCacheForMMI.createIndex( { "lastUpdatedOn": 1 } )
db.DailySignalCacheForMMI.createIndex( { "searchableSignalIds": 1 } )
db.DailySignalCacheForMMI.createIndex( { "signal.validityWindow.endDateTime": 1 } )
db.DailySignalCacheForMMI.createIndex( { "signal.validityWindow.startDateTime": 1 } )
db.DailySignalCacheForMMI.createIndex( { "signal.startPointId": 1 } )

db.DailySignalCacheForSMI.createIndex( { "lastUpdatedOn": 1 } )
db.DailySignalCacheForSMI.createIndex( { "networkFeedId": 1 } )
db.DailySignalCacheForSMI.createIndex( { "signal.validityWindow.startDateTime": 1 } )
db.DailySignalCacheForSMI.createIndex( { "signal.validityWindow.endDateTime": 1 } )
db.DailySignalCacheForSMI.createIndex( { "signal.startPointId": 1 } )
db.DailySignalCacheForSMI.createIndex( { "signal.validityWindow.startDateTime": 1, "networkFeedId" : 1 }, {"name" : "networkFeed_Signal_startTime"} )

db.EdlConfig.createIndex( { "organizationId": 1 } )
db.EdlConfig.createIndex( { "lastUpdatedOn": 1 } )
db.EdlConfig.createIndex( { "name": 1 } )

db.NetworkFeed.createIndex( { "organizationId": 1 } )
db.NetworkFeed.createIndex( { "lastUpdatedOn": 1 } )
db.NetworkFeed.createIndex( { "name": 1 } )
db.NetworkFeed.createIndex( { "providerId": 1 } )
db.NetworkFeed.createIndex( { "organizationId": 1, "name" : 1 }, {"name" : "organizationId_name" , "unique" : true} )
db.NetworkFeed.createIndex( { "uniqueAcquisitionPointIds": 1 }, {"name" : "acquisitionPointIds" , "unique" : true, "sparse" : true} )
db.NetworkFeed.createIndex( { "uniqueIdentifiers": 1 }, {"name" : "identifier.value" , "unique" : true, "sparse" : true} )
db.NetworkFeed.createIndex( { "acquisitionPointIds": 1 }, {"name" : "acqPointId", "sparse" : true} )

db.Cursor.createIndex( { "organizationId": 1 } )
db.Cursor.createIndex( { "lastUpdatedOn": 1 } )
db.Cursor.createIndex( { "expires": 1 } )
db.Cursor.createIndex( { "organizationId": 1, "request.messageId" : 1 }, {"name": "cursor_messageId_orgId", "unique" : true} )
db.Cursor.createIndex( { "organizationId": 1, "request.cursorId" : 1 }, {"name": "cursor_cursorId_orgId", "unique" : true} )

db.SeasonTemplate.createIndex( { "organizationId": 1 } )
db.SeasonTemplate.createIndex( { "lastUpdatedOn": 1 } )
db.SeasonTemplate.createIndex( { "name": 1 } )
db.SeasonTemplate.createIndex( { "organizationId": 1, "name" : 1 }, {"name" : "seasontemplate_name_orgId"} )

db.InboundRegistration.createIndex( { "organizationId": 1 } )
db.InboundRegistration.createIndex( { "lastUpdatedOn": 1 } )
db.InboundRegistration.createIndex( { "organizationId": 1, "request.messageId" : 1 }, {"name" : "inbound_messageId_orgId" , "unique" : true} )

db.OutboundRegistration.createIndex( { "organizationId": 1 } )
db.OutboundRegistration.createIndex( { "lastUpdatedOn": 1 } )
db.InboundRegistration.createIndex( { "organizationId": 1, "request.messageId" : 1 }, {"name" : "outbound_messageId_orgId" , "unique" : true} )

db.Query.createIndex( { "organizationId": 1 } )
db.Query.createIndex( { "lastUpdatedOn": 1 } )
db.Query.createIndex( { "organizationId": 1, "name" : 1 }, {"name" : "outbound_name_orgId" , "unique" : true} )

db.ScheduledTask.createIndex( { "organizationId": 1 } )
db.ScheduledTask.createIndex( { "lastUpdatedOn": 1 } )
db.ScheduledTask.createIndex( { "clazzName": 1 } )


db = db.getSiblingDB("isp")
db.Network.ensureIndex( { "name": 1 },{ organizationId: 1 } )
db.SourceFeed.ensureIndex( { "name": 1 },{ acquisitionPointId: 1 },{ networkId: 1 } ,{ organizationId: 1 })
db.Transform.ensureIndex( { "name": 1 },{ description: 1 },{ organizationId: 1 } )

db = db.getSiblingDB("daireports")
db.createUser({ user: 'daireports',  pwd: 'daireports',  roles: [ { role: 'dbOwner', db: 'daireports' } ]});
db.endpoint_decisions.createIndex({"timestamp":1}, {"expireAfterSeconds":608400})


db = db.getSiblingDB("vns")
db.auditCounts.createIndex( {searchKey: "text" } )
db.auditCounts.createIndex( { identifier: 1 } )
db.auditCounts.createIndex( { messageHeadline: 1 } )
db.auditCounts.createIndex( { msgType: 1 } )
db.auditCounts.createIndex( { expires: 1 } )
db.auditCounts.createIndex( { sent: -1 } )
db.auditCounts.createIndex( { successFailureRate: -1 } )
db.auditCounts.createIndex( { successCount: -1 } )
db.alerts.createIndex( { auditKey: 1 } )

db.auditEntries.createIndex( {"timestamp": 1}, { expireAfterSeconds: 7776000} )

db.views.createIndex({deviceId:1}); db.views.createIndex({sender:1})
db.views.createIndex({notificationTopic:1})
db.views.createIndex({zip:1})
db.views.createIndex({accessToken:1})
db.devices.createIndex({deviceId:1})
db.devices.createIndex({accessToken:1})
db.alertMessageZips.createIndex({"message.payload.expires":-1})
db.alertMessageZips.createIndex({"zips":1})


db = db.getSiblingDB("spotbuilder")
db.AdMap.createIndex( { "organizationId": 1} )
db.AdMap.createIndex( { "organizationId": 1, "nameLowerCase": 1}, {"unique" : true} )
db.AdMap.createIndex( { "lastUpdatedOn": 1 } )

db.AdUnit.createIndex( { "organizationId": 1} )
db.AdUnit.createIndex( { "organizationId": 1, "nameLowerCase": 1}, {"unique" : true} )
db.AdUnit.createIndex( { "lastUpdatedOn": 1 } )

db.CisConfig.createIndex( { "organizationId": 1} )
db.CisConfig.createIndex( { "organizationId": 1, "nameLowerCase": 1}, {"name": "name", "unique" : true} )
db.CisConfig.createIndex( { "lastUpdatedOn": 1 } )

db.ContentFilter.createIndex( { "organizationId": 1} )
db.ContentFilter.createIndex( { "organizationId": 1, "nameLowerCase": 1}, {"unique" : true} )
db.ContentFilter.createIndex( { "lastUpdatedOn": 1 } )

db.Cursor.createIndex( { "organizationId": 1} )
db.Cursor.createIndex( { "opportunities.adUnit.organizationId": 1 } )
db.Cursor.createIndex( { "opportunities.organizationId": 1 } )
db.Cursor.createIndex( { "opportunities.templateId": 1 } )
db.Cursor.createIndex( { "organizationId": 1, "request.cursorId" : 1 }, {"name": "cursorId", "unique": true} )
db.Cursor.createIndex( { "organizationId": 1, "request.messageId" : 1 }, {"name" : "messageId", "unique": true} )
db.Cursor.createIndex( { "lastUpdatedOn": 1 } )
db.Cursor.createIndex( { "expires": 1}, { expireAfterSeconds: 0 } )

db.CursorData.createIndex( { "organizationId": 1} )
db.CursorData.createIndex( { "organizationId": 1, "cursorId" : 1 }, {"name": "cursorId"} )
db.CursorData.createIndex( { "opportunity.adUnit.organizationId": 1} )
db.CursorData.createIndex( { "opportunity.organizationId": 1} )
db.CursorData.createIndex( { "opportunity.templateId": 1} )
db.CursorData.createIndex( { "lastUpdatedOn": 1 } )
db.CursorData.createIndex( { "expires": 1}, { expireAfterSeconds: 0 } )

db.DecisionOwner.createIndex( { "organizationId": 1} )
db.DecisionOwner.createIndex( { "organizationId": 1, "nameLowerCase" : 1 }, {"name": "name", "unique": true} )
db.DecisionOwner.createIndex( { "lastUpdatedOn": 1 } )

db.FallbackPool.createIndex( { "organizationId": 1} )
db.FallbackPool.createIndex( { "organizationId": 1, "nameLowerCase" : 1 }, {"name": "name", "unique": true} )
db.FallbackPool.createIndex( { "lastUpdatedOn": 1 } )

db.Impression.createIndex( { "poid": 1 }, {"unique": true} )
db.Impression.createIndex( { "lastUpdatedOn": 1 } )

db.InboundRegistration.createIndex( { "organizationId": 1} )
db.InboundRegistration.createIndex( { "organizationId": 1, "request.messageId" : 1 }, {"name" : "messageId", "unique": true} )
db.InboundRegistration.createIndex( { "organizationId": 1, "request.identity" : 1 } )
db.InboundRegistration.createIndex( { "organizationId": 1, "request.system" : 1 } )
db.InboundRegistration.createIndex( { "lastUpdatedOn": 1 } )

db.Opportunity.createIndex( { "organizationId": 1} )
db.Opportunity.createIndex( { "adUnit.organizationId": 1} )
db.Opportunity.createIndex( { "templateId": 1 } )
db.Opportunity.createIndex( { "organizationId": 1, "searchFields" : 1 } )
db.Opportunity.createIndex( { "alternateIds.value": 1 } )
db.Opportunity.createIndex( { "signal.startPoint._id": 1 } )
db.Opportunity.createIndex( { "signal.endPoint._id": 1 } )
db.Opportunity.createIndex( { "poidDecisionOwnerships.poid": 1 } )
db.Opportunity.createIndex( { "assetIds": 1 } )
db.Opportunity.createIndex( { "providerIds": 1 } )
db.Opportunity.createIndex( { "organizationId": 1, "group" : 1, "position" : 1, "movieUri" : 1, "_id" : 1  } )
db.Opportunity.createIndex( { "organizationId": 1, "templateId" : 1, "movieUri" : 1 } )
db.Opportunity.createIndex( { "organizationId": 1, "templateId" : 1, "endDate" : 1, "assetUris.value" : 1} )
db.Opportunity.createIndex( { "organizationId": 1, "startDate" : 1, "endDate" : 1 } )
db.Opportunity.createIndex( { "lastUpdatedOn": 1 } )

db.OpportunityTemplate.createIndex( { "organizationId": 1} )
db.OpportunityTemplate.createIndex( { "organizationId": 1, "nameLowerCase": 1 }, {"name" : "name", "unique": true} )
db.OpportunityTemplate.createIndex( { "lastUpdatedOn": 1 } )

db.SplitGroup.createIndex( { "organizationId": 1} )
db.SplitGroup.createIndex( { "organizationId": 1, "nameLowerCase": 1 }, {"name": "name", "unique": true} )
db.SplitGroup.createIndex( { "lastUpdatedOn": 1 } )


db = db.getSiblingDB("spotbuilder2")
db.AdMap.createIndex( { "organizationId": 1} )
db.AdMap.createIndex( { "organizationId": 1, "nameLowerCase": 1}, {"unique" : true} )
db.AdMap.createIndex( { "lastUpdatedOn": 1 } )

db.AdUnit.createIndex( { "organizationId": 1} )
db.AdUnit.createIndex( { "organizationId": 1, "nameLowerCase": 1}, {"unique" : true} )
db.AdUnit.createIndex( { "lastUpdatedOn": 1 } )

db.CisConfig.createIndex( { "organizationId": 1} )
db.CisConfig.createIndex( { "organizationId": 1, "nameLowerCase": 1}, {"name": "name", "unique" : true} )
db.CisConfig.createIndex( { "lastUpdatedOn": 1 } )

db.ContentFilter.createIndex( { "organizationId": 1} )
db.ContentFilter.createIndex( { "organizationId": 1, "nameLowerCase": 1}, {"unique" : true} )
db.ContentFilter.createIndex( { "lastUpdatedOn": 1 } )

db.Cursor.createIndex( { "organizationId": 1} )
db.Cursor.createIndex( { "opportunities.adUnit.organizationId": 1 } )
db.Cursor.createIndex( { "opportunities.organizationId": 1 } )
db.Cursor.createIndex( { "opportunities.templateId": 1 } )
db.Cursor.createIndex( { "organizationId": 1, "request.cursorId" : 1 }, {"name": "cursorId", "unique": true} )
db.Cursor.createIndex( { "organizationId": 1, "request.messageId" : 1 }, {"name" : "messageId", "unique": true} )
db.Cursor.createIndex( { "lastUpdatedOn": 1 } )
db.Cursor.createIndex( { "expires": 1}, { expireAfterSeconds: 0 } )

db.CursorData.createIndex( { "organizationId": 1} )
db.CursorData.createIndex( { "organizationId": 1, "cursorId" : 1 }, {"name": "cursorId"} )
db.CursorData.createIndex( { "opportunity.adUnit.organizationId": 1} )
db.CursorData.createIndex( { "opportunity.organizationId": 1} )
db.CursorData.createIndex( { "opportunity.templateId": 1} )
db.CursorData.createIndex( { "lastUpdatedOn": 1 } )
db.CursorData.createIndex( { "expires": 1}, { expireAfterSeconds: 0 } )

db.DecisionOwner.createIndex( { "organizationId": 1} )
db.DecisionOwner.createIndex( { "organizationId": 1, "nameLowerCase" : 1 }, {"name": "name", "unique": true} )
db.DecisionOwner.createIndex( { "lastUpdatedOn": 1 } )

db.FallbackPool.createIndex( { "organizationId": 1} )
db.FallbackPool.createIndex( { "organizationId": 1, "nameLowerCase" : 1 }, {"name": "name", "unique": true} )
db.FallbackPool.createIndex( { "lastUpdatedOn": 1 } )

db.Impression.createIndex( { "poid": 1 }, {"unique": true} )
db.Impression.createIndex( { "lastUpdatedOn": 1 } )

db.InboundRegistration.createIndex( { "organizationId": 1} )
db.InboundRegistration.createIndex( { "organizationId": 1, "request.messageId" : 1 }, {"name" : "messageId", "unique": true} )
db.InboundRegistration.createIndex( { "organizationId": 1, "request.identity" : 1 } )
db.InboundRegistration.createIndex( { "organizationId": 1, "request.system" : 1 } )
db.InboundRegistration.createIndex( { "lastUpdatedOn": 1 } )

db.Opportunity.createIndex( { "organizationId": 1} )
db.Opportunity.createIndex( { "adUnit.organizationId": 1} )
db.Opportunity.createIndex( { "templateId": 1 } )
db.Opportunity.createIndex( { "organizationId": 1, "searchFields" : 1 } )
db.Opportunity.createIndex( { "alternateIds.value": 1 } )
db.Opportunity.createIndex( { "signal.startPoint._id": 1 } )
db.Opportunity.createIndex( { "signal.endPoint._id": 1 } )
db.Opportunity.createIndex( { "poidDecisionOwnerships.poid": 1 } )
db.Opportunity.createIndex( { "assetIds": 1 } )
db.Opportunity.createIndex( { "providerIds": 1 } )
db.Opportunity.createIndex( { "organizationId": 1, "group" : 1, "position" : 1, "movieUri" : 1, "_id" : 1  } )
db.Opportunity.createIndex( { "organizationId": 1, "templateId" : 1, "movieUri" : 1 } )
db.Opportunity.createIndex( { "organizationId": 1, "templateId" : 1, "endDate" : 1, "assetUris.value" : 1} )
db.Opportunity.createIndex( { "organizationId": 1, "startDate" : 1, "endDate" : 1 } )
db.Opportunity.createIndex( { "lastUpdatedOn": 1 } )

db.OpportunityTemplate.createIndex( { "organizationId": 1} )
db.OpportunityTemplate.createIndex( { "organizationId": 1, "nameLowerCase": 1 }, {"name" : "name", "unique": true} )
db.OpportunityTemplate.createIndex( { "lastUpdatedOn": 1 } )

db.SplitGroup.createIndex( { "organizationId": 1} )
db.SplitGroup.createIndex( { "organizationId": 1, "nameLowerCase": 1 }, {"name": "name", "unique": true} )
db.SplitGroup.createIndex( { "lastUpdatedOn": 1 } )
