#JAVA_OPTS="-server -Xms6g -Xmx6g -XX:MaxPermSize=512m -XX:+UseConcMarkSweepGC -XX:+AggressiveOpts -XX:+UseParNewGC -XX:+UseStringCache"
# Java 8 removed support for permanent generation. Reducing size of initial memory allocation pool
JAVA_OPTS="-server -Xms1g -Xmx6g -XX:+UseConcMarkSweepGC -XX:+AggressiveOpts -XX:+UseParNewGC -XX:+UseStringCache"
export JAVA_OPTS

#JMX_OPTS="-Dcom.sun.management.jmxremote=true -Dcom.sun.management.jmxremote.port=6060 -Dcom.sun.management.jmxremote.authenticate=false -Dcom.sun.management.jmxremote.ssl=false"
# "=true" on bare jmxremote is redundant
#JMX_OPTS="-Dcom.sun.management.jmxremote -Dcom.sun.management.jmxremote.port=6061 -Dcom.sun.management.jmxremote.authenticate=false -Dcom.sun.management.jmxremote.ssl=false"
# Removing since not needed/applicable in AWS or most customer environments 
JMX_OPTS=""
export JMX_OPTS
# Append to CATALINA_OPTS
CATALINA_OPTS="${CATALINA_OPTS} ${JMX_OPTS}"
# Do NOT remove the blank line following the the ZK_ENSEMBLE line. 
# The jinja template source for this script requires a blank line to ensure a newline prior to the export statement.
ZK_ENSEMBLE={% for host in groups.zookeepers %}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:2181{% if not loop.last %},{% endif %}{% endfor %}

export ZK_ENSEMBLE
