#!/bin/bash
#
# iptables configuration script for CTS Elastic Search
#
# A "typical" production deployment hosts instances of Elasticsearch and Zookeeper on the same node.
#
# The following rules are intended to:
# allow SSH connections from "anywhere" 
# allow connections to ZK from "anywhere"
# allow connections to the default ES port (9200) from "anywhere"
# Restrict connections to the ES Transport port (9300) to ES nodes only
#

ES_REST_PORT=9200
ES_TRANSPORT_PORT=9300
ZK_ENSEMBLE_CLIENT_PORT=2181
ZK_ENSEMBLE_SYNC_PORT=2888
ZK_ENSEMBLE_LEADER_ELECTION_PORT=3888

# Comma separated list based on the "common" group 
ALL_TRAJECTORY_HOSTS={% for host in groups.common -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}{%- if not loop.last -%},{% endif %}{%- endfor %}

# Comma separated list of source address specifications
# Network name, hostname, IP addresses (with or without a mask)
METAMORE_HOSTS={% for host in groups.metamore -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}{%- if not loop.last -%},{% endif %}{%- endfor %}

# Comma separated list of source address specifications
ELASTICSEARCH_HOSTS={% for host in groups.elasticsearch -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}{%- if not loop.last -%},{% endif %}{%- endfor %}

# Comma separated list of source address specifications
KAFKA_HOSTS={% for host in groups.kafka -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}{%- if not loop.last -%},{% endif %}{%- endfor %}

# Comma separated list of source address specifications
# Using plural even though "typical" deployment only has single instance
MONGO_CONNECTOR_HOSTS={% for host in groups.mongo_connector -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}{%- if not loop.last -%},{% endif %}{%- endfor %}

# Comma separated list of source address specifications
ZOOKEPER_HOSTS={% for host in groups.zookeepers -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}{%- if not loop.last -%},{% endif %}{%- endfor %}

#
# Flush all current rules from iptables
#
iptables -F

#
# Allow SSH connections on tcp port 22
# This is essential when working on remote servers via SSH to prevent locking yourself out of the system
#
iptables -A INPUT -p tcp --dport 22 -j ACCEPT

#
# Allow any connection (to Zookeeper) on tcp port 2181
#
iptables -A INPUT -p tcp --dport ${ZK_ENSEMBLE_CLIENT_PORT} -j ACCEPT

# Example
# Explicitly Allow Kafka all Trajectory nodes to connect to Zookeeper on tcp port 2181
# Since all Trajectory applications retrieve configuration from ZK and 
# Kafka depends also depends on ZK, this ability is required is ZK is deployed on 
# "this" ES node.
# Caveat - since the preceding rule allows any connection on 2181, 
# this is redundant, but included here for documentation
# 
#iptables -A INPUT -p tcp -s ${ALL_TRAJECTORY_HOSTS} --dport 2181 -j ACCEPT

# Example
# Allow any connection on tcp port (Elasticsearch default REST port: 9200)
# Once NGINX is in place to authenticate, connections will have to present
# proper credentials
#
#iptables -A INPUT -p tcp --dport ${ES_REST_PORT} -j ACCEPT

#
# Only accept ElasticSearch REST Client connections 
# on tcp port (default: 9200) from source IP address/hostnames of
# Metamore and mongo-connector nodes
#
iptables -A INPUT -p tcp -s ${METAMORE_HOSTS},${MONGO_CONNECTOR_HOSTS} --dport ${ES_REST_PORT} -j ACCEPT

#
# Allow _Transport_ connections to Elasticsearch on tcp port 9300
#
# iptables -A INPUT -p tcp --dport 9300 -j ACCEPT

# 
# Restrict acceptance of Elasticsearch _Transport_ client connections 
# on tcp port 9300 to source IP address/hostname of Elasticsearch nodes
#
iptables -A INPUT -p tcp -s ${ELASTICSEARCH_HOSTS} --dport ${ES_TRANSPORT_PORT} -j ACCEPT

#
# Allow intra-Zookeeper cluster communication
# Intracluster sync/communication on port (default: 2888)
#
iptables -A INPUT -p tcp -s ${ZOOKEPER_HOSTS} --dport ${ZK_ENSEMBLE_SYNC_PORT} -j ACCEPT

#
# Allow intra-Zookeeper cluster communication
# Leader election on port (default: 3888)
#
iptables -A INPUT -p tcp -s ${ZOOKEPER_HOSTS} --dport ${ZK_ENSEMBLE_LEADER_ELECTION_PORT} -j ACCEPT

#
# Set default policies for INPUT, FORWARD and OUTPUT chains
#
# Set default policies on the INPUT chain for incoming packet to DROP
# Set default policies on the FORWARD chain to DROP
# Set default policies on the OUTPUT chain to ACCEPT to allow all outgoing traffic
iptables -P INPUT DROP
iptables -P FORWARD DROP
iptables -P OUTPUT ACCEPT

#
# Set access for localhost - note the use of the -s (source) rather than interface (-i)
#
iptables -A INPUT -s localhost -j ACCEPT

#
# Accept packets belonging to established and related connections
#
 iptables -A INPUT -m state --state ESTABLISHED,RELATED -j ACCEPT

#
# Save settings
#
/sbin/service iptables save

#
# List rules
#
iptables -L -v
