{
  "__comment__": "Configuration options starting with '__' are disabled",
  "__comment__": "To enable them, remove the preceding '__'",
  "__NOTE__": "Change the mainAddress to the address of the mongodb you want to dump",
  "mainAddress": "{% for host in groups.mongo -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:27017{% if not loop.last %},{% endif %}{%- endfor %}",
  "oplogFile": "/opt/applications/mongo-connector/var/log/oplog.timestamp",
  "verbosity": 2,
  "logging": {
    "type": "file",
    "filename": "/opt/applications/mongo-connector/var/log/mongo-connector.log",
    "format": "%(asctime)s [%(levelname)s] %(name)s:%(lineno)d - %(message)s",
    "rotationWhen": "D",
    "rotationInterval": 1,
    "rotationBackups": 10
  },
  "__NOTE__": "If the mongodb requires authentication, enable the option 'authentication' below",
  "__authentication__":{
    "adminUsername": "",
    "password": ""
  },
  "namespaces": {
    "__NOTE__": "The namespace and collection",
    "include": [
      "metamore.AssetContainer"
    ],
    "__NOTE__": "The Key is the collection in mongodb, the value is the index name and the type name in elasticsearch",
    "mapping": {
      "metamore.AssetContainer": "metamore.AssetContainer"
    }
  },
  "docManagers": [
    {
      "docManager": "metamore_doc_manager",
      "__NOTE__": "Change the targetURL to the url of your elasticsearch server",
      "targetURL": ["{{ hostvars[groups.elasticsearch.0].ansible_hostname }}.{{ hostvars[groups.elasticsearch.0].ansible_domain}}:9200","{{ hostvars[groups.elasticsearch.1].ansible_hostname }}.{{ hostvars[groups.elasticsearch.1].ansible_domain}}:9200","{{ hostvars[groups.elasticsearch.2].ansible_hostname }}.{{ hostvars[groups.elasticsearch.2].ansible_domain}}"],
      "bulkSize": 200,
      "autoCommitInterval": 0,
      "args": {
        "clientOptions": {"timeout": 60},
        "statusServer": {"port": 5669}
      }
    }
  ]
}
