#!/bin/bash
# Monitor log modification time and restart mnemosyne if it was not updated for defined period of time

# log file location. 
# The filename _may_ need to be updated with specific site filename which depends on 
# what mnemosyne determines to be the FQDN of the host it runs on
# The initial value is populated by ansible during deployment as {{ansible_hostname}}
log_file="{{mnemosyne_log_dir}}/mnemosyne-reports/{{ansible_hostname}}.net-auditing"

# log process name and path
process_bin="mnemosyne"
process_loc="/opt/mnemosyne"

# maximum seconds after last modification date before issuing process restart
ctime_max=1200

# check if process is running
process="$(pgrep ${process_bin})"
if [ -n "${process}" ]; then
  # check last log modification time
  ctime="$(ls ${log_file} --time=ctime -l --time-style=+%s | awk '{ print $6 }')"
  ctime_current="$(date +%s)"
  ctime_diff="$((ctime_current-ctime))"
  if [ "${ctime_diff}" -gt "${ctime_max}" ]; then
    # kill process as the log file was not modified for at least for $ctime_max
        /sbin/stop mnemosyne
        sleep 10
        /sbin/start mnemosyne
  fi
else
  # start process
  /sbin/start mnemosyne
fi
