[mongoDB]
name=MongoDB Repository
baseurl={{ mongo_repo }} 
gpgcheck=0
enabled=1

[mongodb-org-3.6]
name=MongoDB Repository
baseurl=https://repo.mongodb.org/yum/redhat/$releasever/mongodb-org/3.6/x86_64/
gpgcheck=0
enabled=1
gpgkey=https://www.mongodb.org/static/pgp/server-3.6.asc
