{
  "thistech": {
    "dai-ui": {
      "dai.endpoint": "http://{{dai_IP}}:8080/dai",
      "dai.ui.endpoint": "http://{{dai_ui_IP}}:8080/dai-ui",
      "esp.endpoint": "http://{{esp_IP}}:8080/esp",
      "metamore.endpoint": "http://{{metamore_IP}}:8080/metamore",
      "oplog.endpoint": "http://{{oplog_IP}}:8080/oplog",
      "spotbuilder.endpoint": "http://{{spotbuilder_IP}}:8080/spotbuilder",
      "vinz.endpoint": "http://{{vinz_IP}}:8080/vinz",
      "slr.director.endpoint": "http://{{slr_director_IP}}:8080/slr-director"
    },
    "dai": {
      "reports": {
        "sftp.User": "testUser",
        "sftp.Password": "testPassword",
        "sftp.Host": "testSftphost",
        "sftp.Port": "22",
        "sftp.entertainmentReport.Path": "/test/entertainmentreport/path",
        "sftp.adCopyReport.Path": "/test/adcopyreport/path",
        "sftp.Timeout": "60000",
        "mongo.host": "{% for host in groups.mongo -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:27017{% if not loop.last %},{% endif %}{%- endfor %}",
        "assetReports.enabled": "false"
      }
    },
    "esp": {
      "mongo.host": "{% for host in groups.mongo -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:27017{% if not loop.last %},{% endif %}{%- endfor %}",
      "vinz.endpoint": "http://{{vinz_IP}}:8080/vinz",
      "esp.endpoint": "http://{{esp_IP}}:8080/esp"
    },
    "metamore": {
      "public.url": "http://{{metamore_public_IP}}:8080/metamore",
      "data.directory": "{{data_dir}}",
      "mongo.host": "{% for host in groups.mongo -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:27017{% if not loop.last %},{% endif %}{%- endfor %}",
      "events.mongo.host": "{% for host in groups.mongo -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:27017{% if not loop.last %},{% endif %}{%- endfor %}",
      "vinz.endpoint": "http://{{vinz_IP}}:8080/vinz",
      "kafkaConfig/metadataBrokerList": "{% for host in groups.kafka -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:9092{% if not loop.last %},{% endif %}{%- endfor %}",
      "edl.schedule": "{{edl_schedule}}",
      "cis.cursor.expire.hours": "{{cis_cursor_expire_hours}}",
      "csv.enable.multiple.rows": "{{csv_enable_multiple_rows}}",
      "jvm.monitor.schedule": "",
      "csv.retry.window.ms": "{{csv_retry_window_ms}}",
      "cis.update.perform.version.check": "false",
      "elasticsearch.transport.addresses": "{% for host in groups.elasticsearch -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:9300, {%- endfor %}"
    },
    "oplog": {
      "mongo.host": "{% for host in groups.mongo -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:27017{% if not loop.last %},{% endif %}{%- endfor %}",
      "default.mongo.host": "{% for host in groups.mongo -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:27017{% if not loop.last %},{% endif %}{%- endfor %}",
      "vinz.endpoint": "http://{{vinz_IP}}:8080/vinz"
    },
    "slr": {
      "psn-processor": {
        "CIS_ENDPOINT": "{{CIS_ENDPOINT}}",
        "POIS_ENDPOINT": "{{POIS_ENDPOINT}}",
        "SPOTBUILDER_ENDPOINT": "{{SPOTBUILDER_ENDPOINT}}",
        "MONGO_CLIENT_URI": "mongodb://spotlink:spotlink@{% for host in groups.mongo -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:27017{% if not loop.last %},{% endif %}{%- endfor %}/spotlink?maxPoolSize=40",
        "MEMCACHE_ADDRESS": "localhost:11211",
        "KAFKA_METADATA_BROKER_LIST": "{% for host in groups.kafka -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:9092{% if not loop.last %},{% endif %}{%- endfor %}"
      },
      "director": {
        "CIS_ENDPOINT": "{{CIS_ENDPOINT}}",
        "POIS_ENDPOINT": "{{POIS_ENDPOINT}}",
        "SPOTBUILDER_ENDPOINT": "{{SPOTBUILDER_ENDPOINT}}",
        "MONGO_CLIENT_URI": "mongodb://spotlink:spotlink@{% for host in groups.mongo -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:27017{% if not loop.last %},{% endif %}{%- endfor %}/spotlink?maxPoolSize=40",
        "MEMCACHE_ADDRESS": "localhost:11211",
        "KAFKA_METADATA_BROKER_LIST": "{% for host in groups.kafka -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:9092{% if not loop.last %},{% endif %}{%- endfor %}",
        "routes": {
          "generic-placement": {
            "ad.match.exact.resolution": "false"
          },
          "enriched-placement": {
            "camel.poolSize": "512",
            "camel.maxPoolSize": "512",
            "camel.maxQueueSize": "1000",
            "camel.audit.poolSize": "64",
            "camel.audit.maxPoolSize": "64",
            "camel.audit.maxQueueSize": "1000",
            "camel.timeout.poolSize": "128",
            "camel.timeout.maxPoolSize": "128",
            "camel.timeout.maxQueueSize": "1000",
            "camel.tracking.poolSize": "64",
            "camel.tracking.maxPoolSize": "64",
            "camel.tracking.maxQueueSize": "1000"
          },
          "inbound-psn": {
            "psn.inferQuartiles": "true",
            "camel.poolSize": "512",
            "camel.maxPoolSize": "512",
            "camel.maxQueueSize": "1000",
            "camel.audit.poolSize": "64",
            "camel.audit.maxPoolSize": "64",
            "camel.audit.maxQueueSize": "1000"
          },
          "service-check": {
            "camel.poolSize": "512",
            "camel.maxPoolSize": "512",
            "camel.maxQueueSize": "1000",
            "camel.audit.poolSize": "64",
            "camel.audit.maxPoolSize": "64",
            "camel.audit.maxQueueSize": "1000"
          },
          "creative-readiness": {
            "camel.poolSize": "512",
            "camel.maxPoolSize": "512",
            "camel.maxQueueSize": "1000",
            "camel.audit.poolSize": "64",
            "camel.audit.maxPoolSize": "64",
            "camel.audit.maxQueueSize": "1000"
          }
        }
      },
      "vast-proxy": {
        "KAFKA_METADATA_BROKER_LIST": "{% for host in groups.kafka -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:9092{% if not loop.last %},{% endif %}{%- endfor %}",
        "MONGO_CLIENT_URI": "mongodb://spotlink:spotlink@{% for host in groups.mongo -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:27017{% if not loop.last %},{% endif %}{%- endfor %}/spotlink?maxPoolSize=40",
        "routes": {
          "vast-proxy": {
            "vast.proxy.ads.endpoint": "http://5af10.v.fwmrm.net/ad/g/1",
            "vast.proxy.beacon.endpoint": "{{slr_vast_proxy_beacon_endpoint}}",
            "vast.proxy.beacon.uri.overwrite": "{{slr_vast_proxy_beacon_overwrite}}",
            "trackingEvent.endAll.algorithm": "SESSION",
            "sis.endpoint": "{{slr_vast_proxy_sis_endpoint}}",
            "sis.credential": "{{slr_vast_proxy_sis_credential}}",
            "camel.audit.poolSize": "256",
            "camel.audit.maxPoolSize": "256",
            "camel.audit.maxQueueSize": "2000",
            "camel.poolSize": "512",
            "camel.maxPoolSize": "512",
            "camel.maxQueueSize": "1000",
            "camel.sis.poolSize": "256",
            "camel.sis.maxPoolSize": "256",
            "camel.sis.maxQueueSize": "10000",
            "camel.timeout.poolSize": "256",
            "camel.timeout.maxPoolSize": "256",
            "camel.timeout.maxQueueSize": "1000",
            "camel.tracking.poolSize": "64",
            "camel.tracking.maxPoolSize": "64",
            "camel.tracking.maxQueueSize": "1000"
          }
        }
      }
    },
    "spotbuilder": {
      "public.url": "http://{{spotbuilder_public_IP}}:8080/spotbuilder",
      "public.url.ui": "http://{{spotbuilder_public_IP}}:8080/spotbuilder-ui",
      "mongo.host": "{% for host in groups.mongo -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:27017{% if not loop.last %},{% endif %}{%- endfor %}",
      "vinz.endpoint": "http://{{vinz_IP}}:8080/vinz",
      "KAFKA_METADATA_BROKER_LIST": "{% for host in groups.kafka -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:9092{% if not loop.last %},{% endif %}{%- endfor %}"
    },
    "vinz": {
      "mongo.host": "{% for host in groups.mongo -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:27017{% if not loop.last %},{% endif %}{%- endfor %}"
    }
  }
}
