{
  "thistech": {
    "dai-ui": {
      "dai.endpoint": "http://{{dai_IP}}:8080/dai",
      "dai.ui.endpoint": "http://{{dai_ui_IP}}:8080/dai-ui",
      "esp.endpoint": "http://{{esp_IP}}:8080/esp",
      "metamore.endpoint": "http://{{metamore_IP}}:8080/metamore",
      "oplog.endpoint": "http://{{oplog_IP}}:8080/oplog",
      "spotbuilder.endpoint": "http://{{spotbuilder_IP}}:8080/spotbuilder",
      "vinz.endpoint": "http://{{vinz_IP}}:8080/vinz",
      "slr.director.endpoint": "http://{{slr_director_IP}}:8080/slr-director"
    },
    "dai": {
      "reports": {
        "sftp.User": "testUser",
        "sftp.Password": "testPassword",
        "sftp.Host": "testSftphost",
        "sftp.Port": "22",
        "sftp.entertainmentReport.Path": "/test/entertainmentreport/path",
        "sftp.adCopyReport.Path": "/test/adcopyreport/path",
        "sftp.Timeout": "60000",
        "assetReports.enabled": "false",
        "mongo.host": "{% for host in groups.mongo -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:27017{% if not loop.last %},{% endif %}{%- endfor %}",
        "cis.endpoint": "http://{{metamore_IP}}:8080/metamore/cisrs",
        "pois.endpoint": "http://{{spotbuilder_IP}}:8080/spotbuilder/poisrs"
      }
    },
    "esp": {
      "mongo.host": "{% for host in groups.mongo -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:27017{% if not loop.last %},{% endif %}{%- endfor %}",
      "vinz.endpoint": "http://{{vinz_IP}}:8080/vinz",
      "esp.endpoint": "http://{{esp_IP}}:8080/esp"
    },
    "metamore": {
      "public.url": "http://{{metamore_public_IP}}:8080/metamore",
      "data.directory": "{{data_dir}}",
      "events.mongo.host": "{% for host in groups.mongo -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:27017{% if not loop.last %},{% endif %}{%- endfor %}",
      "vinz.endpoint": "http://{{vinz_IP}}:8080/vinz",
      "kafkaConfig/metadataBrokerList": "{% for host in groups.kafka -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:9092{% if not loop.last %},{% endif %}{%- endfor %}",
      "edl.schedule": "{{edl_schedule}}",
      "edl.retention.duration.uncorrelated": "{{edl_retention_duration_uncorrelated_minutes}}",
      "edl.retention.size.limit": "{{edl_retention_size_limit}}",
      "cis.cursor.expire.hours": "{{cis_cursor_expire_hours}}",
      "cis.update.perform.version.check": "false",
      "csv.enable.multiple.rows": "{{csv_enable_multiple_rows}}",
      "csv.retry.window.ms": "{{csv_retry_window_ms}}",
      "csv.ingest.batch.size": "2000",
      "jvm.monitor.schedule": "",
      "elasticsearch.transport.addresses": "{% for host in groups.elasticsearch -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:9300, {%- endfor %}",
      "metamore.report.url.generate.AD": "http://{{dai_reports_IP}}:8080/dai-reports/daiAssets/adCopyReport",
      "metamore.report.url.generate.Entertainment": "http://{{dai_reports_IP}}:8080/dai-reports/daiAssets/entertainmentReport",
      "mongo.host": "{% for host in groups.mongo -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:27017{% if not loop.last %},{% endif %}{%- endfor %}",
      "scte130.system": "thistech.metamore.1"
    },
    "oplog": {
      "mongo.host": "{% for host in groups.mongo -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:27017{% if not loop.last %},{% endif %}{%- endfor %}",
      "default.mongo.host": "{% for host in groups.mongo -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:27017{% if not loop.last %},{% endif %}{%- endfor %}",
      "vinz.endpoint": "http://{{vinz_IP}}:8080/vinz"
    },
    "slr": {
      "psn-processor": {
        "CIS_ENDPOINT": "{{CIS_ENDPOINT}}",
        "POIS_ENDPOINT": "{{POIS_ENDPOINT}}",
        "SPOTBUILDER_ENDPOINT": "{{SPOTBUILDER_ENDPOINT}}",
        "MONGO_CLIENT_URI": "mongodb://spotlink:spotlink@{% for host in groups.mongo -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:27017{% if not loop.last %},{% endif %}{%- endfor %}/spotlink?maxPoolSize=40",
        "MEMCACHE_ADDRESS": "localhost:11211",
        "KAFKA_METADATA_BROKER_LIST": "{% for host in groups.kafka -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:9092{% if not loop.last %},{% endif %}{%- endfor %}",
        "routes": {
          "generic-psn": {
            "beacon.replace.domain.enabled": "true",
            "beacon.endpoint.component": "ahc:"
          }
        }
      },
      "director": {
        "CIS_ENDPOINT": "{{CIS_ENDPOINT}}",
        "POIS_ENDPOINT": "{{POIS_ENDPOINT}}",
        "SPOTBUILDER_ENDPOINT": "{{SPOTBUILDER_ENDPOINT}}",
        "MONGO_CLIENT_URI": "mongodb://spotlink:spotlink@{% for host in groups.mongo -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:27017{% if not loop.last %},{% endif %}{%- endfor %}/spotlink?maxPoolSize=40",
        "MEMCACHE_ADDRESS": "localhost:11211",
        "KAFKA_METADATA_BROKER_LIST": "{% for host in groups.kafka -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:9092{% if not loop.last %},{% endif %}{%- endfor %}",
        "routes": {
          "{{slr_policy_type}}-placement": {
            "ad.match.exact.resolution": "false",
            "daiReports.endpoint": "http://{{dai_reports_IP}}:8080/dai-reports"
          },
          "creative-readiness": {
            "creativeReadiness.endpoint.uri": "hacservlet:///CISNotificationDFP?httpMethodRestrict=POST"
          },
          "inbound-psn": {
            "psn.inferQuartiles": "true"
          }
        }
      }
    },
    "soap-support": {
      "KAFKA_METADATA_BROKER_LIST": "{% for host in groups.kafka -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:9092{% if not loop.last %},{% endif %}{%- endfor %}",
      "routes": {
        "slr-soap-support": {
          "metadata.broker.list": "{% for host in groups.kafka -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:9092{% if not loop.last %},{% endif %}{%- endfor %}",
          "kafka.metadata.broker.list": "{% for host in groups.kafka -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:9092{% if not loop.last %},{% endif %}{%- endfor %}",
          "zookeeper.connect": "{% for host in groups.zookeepers -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:2181{% if not loop.last %},{% endif %}{%- endfor %}",
          "soapSupport.endpoint.uri": "hacservlet:///",
          "soapSupport.PlacementRequest.endpoint": "http://localhost:8080/slr-director/PlacementRequest",
          "soapSupport.PlacementStatusNotification.endpoint": "http://localhost:8080/slr-director/PlacementStatusNotification",
          "camel.poolSize": "32"
        }
      }
    },
    "spotbuilder": {
      "public.url": "http://{{spotbuilder_public_IP}}:8080/spotbuilder",
      "public.url.ui": "http://{{spotbuilder_public_IP}}:8080/spotbuilder-ui",
      "mongo.host": "{% for host in groups.mongo -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:27017{% if not loop.last %},{% endif %}{%- endfor %}",
      "vinz.endpoint": "http://{{vinz_IP}}:8080/vinz",
      "KAFKA_METADATA_BROKER_LIST": "{% for host in groups.kafka -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:9092{% if not loop.last %},{% endif %}{%- endfor %}",
      "kafkaConfig": {
        "metadataBrokerList": "{% for host in groups.kafka -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:9092{% if not loop.last %},{% endif %}{%- endfor %}"
      }
    },
    "vinz": {
      "mongo.host": "{% for host in groups.mongo -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:27017{% if not loop.last %},{% endif %}{%- endfor %}"
    }
  }
}