{
  "thistech": {
    "dai-ui": {
      "dai.endpoint": "http://{{dai_IP}}:8080/dai",
      "dai.ui.endpoint": "http://{{dai_ui_IP}}:8080/dai-ui",
      "esp.endpoint": "http://{{esp_IP}}:8080/esp",
      "metamore.endpoint": "http://{{metamore_IP}}:8080/metamore",
      "oplog.endpoint": "http://{{oplog_IP}}:8080/oplog",
      "spotbuilder.endpoint": "http://{{spotbuilder_IP}}:8080/spotbuilder",
      "vinz.endpoint": "http://{{vinz_IP}}:8080/vinz",
      "slr.director.endpoint": "http://{{slr_director_IP}}:8080/slr-director"
    },
    "dai": {
      "reports": {
        "assetReports.enabled": "true",
        "sftp.User": "daiftp",
        "sftp.Password": "D@1FTPL0gs",
        "sftp.Host": "172.25.232.161",
        "sftp.Port": "22",
        "sftp.entertainmentReport.Path": "/home/daiftp/CTS_Logs/Lab",
        "sftp.adCopyReport.Path": "/home/daiftp/CTS_Logs/Lab",
        "sftp.Timeout": "60000",
        "mongo.host": "{% for host in groups.mongo -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:27017{% if not loop.last %},{% endif %}{%- endfor %}",
        "mongo.propagation.delay.seconds": "600",
        "scheduler.num.threads": "1",
        "scheduler.entertainmentReport.start.time": "00:15",
        "scheduler.adCopyReport.start.time": "00:30",
        "scheduler.entertainmentReport.period.seconds": "86400",
        "scheduler.adCopyReport.period.seconds": "86400",
        "scheduler.entertainmentReport.delivery.time": "05:00",
        "scheduler.adCopyReport.delivery.time": "05:30",
        "scheduler.deliverNow.delay.seconds": "300",
        "pois.endpoint": "http://{{spotbuilder_IP}}:8080/spotbuilder/poisrs",
        "cis.endpoint": "http://{{metamore_IP}}:8080/metamore/cisrs"
      }
    },
    "esp": {
      "mongo.host": "DAICTSLAB023.netdai.com.br:27017,DAICTSLAB016.netdai.com.br:27017,DAICTSLAB011.netdai.com.br:27017,",
      "vinz.endpoint": "http://{{vinz_IP}}:8080/vinz",
      "esp.endpoint": "http://{{esp_IP}}:8080/esp"
    },
    "metamore": {
      "public.url": "http://{{metamore_public_IP}}:8080/metamore",
      "data.directory": "/opt/tomcat/metamore/data",
      "mongo.host": "{% for host in groups.mongo -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:27017{% if not loop.last %},{% endif %}{%- endfor %}",
      "events.mongo.host": "{% for host in groups.mongo -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:27017{% if not loop.last %},{% endif %}{%- endfor %}",
      "vinz.endpoint": "http://{{vinz_IP}}:8080/vinz",
      "kafkaConfig/metadataBrokerList": "{% for host in groups.kafka -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:9092{% if not loop.last %},{% endif %}{%- endfor %}",
      "scte130.version": "2.0",
      "scte130.system": "thistech.metamore.5",
      "edl.sftp.timeout": "15000",
      "edl.schedule": "0 0/10 * * * ?",
      "cis.cursor.expire.hours": "1",
      "cis.registration.callback.all": "true",
      "csv.enable.multiple.rows": "False",
      "jvm.monitor.schedule": "",
      "csv.retry.window.ms": "604800000",
      "cis.update.perform.version.check": "false",
      "elasticsearch.transport.addresses": "{% for host in groups.elasticsearch -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:9300, {%- endfor %}",
      "metamore.report.url.generate.AD": "http://{{dai_reports_IP}}:8080/dai-reports/daiAssets/adCopyReport",
      "metamore.report.url.generate.Entertainment": "http://{{dai_reports_IP}}:8080/dai-reports/daiAssets/entertainmentReport"
    },
    "oplog": {
      "mongo.host": "{% for host in groups.mongo -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:27017{% if not loop.last %},{% endif %}{%- endfor %}",
      "default.mongo.host": "{% for host in groups.mongo -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:27017{% if not loop.last %},{% endif %}{%- endfor %}",
      "vinz.endpoint": "http://{{vinz_IP}}:8080/vinz"
    },
    "slr": {
      "psn-processor": {
        "CIS_ENDPOINT": "{{CIS_ENDPOINT}}",
        "POIS_ENDPOINT": "{{POIS_ENDPOINT}}",
        "SPOTBUILDER_ENDPOINT": "{{SPOTBUILDER_ENDPOINT}}",
        "MONGO_CLIENT_URI": "mongodb://spotlink:spotlink@{% for host in groups.mongo -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:27017{% if not loop.last %},{% endif %}{%- endfor %}/spotlink?maxPoolSize=40",
        "MEMCACHE_ADDRESS": "localhost:11211",
        "KAFKA_METADATA_BROKER_LIST": "{% for host in groups.kafka -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:9092{% if not loop.last %},{% endif %}{%- endfor %}",
        "routes": {
          "generic-psn": {
            "camel.timeout.maxPoolSize": "1024",
            "camel.timeout.poolSize": "512",
            "beacon.endpoint.component": "ahc:"
          }
        }
      },
      "director": {
        "CIS_ENDPOINT": "{{CIS_ENDPOINT}}",
        "POIS_ENDPOINT": "{{POIS_ENDPOINT}}",
        "SPOTBUILDER_ENDPOINT": "{{SPOTBUILDER_ENDPOINT}}",
        "MONGO_CLIENT_URI": "mongodb://spotlink:spotlink@{% for host in groups.mongo -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:27017{% if not loop.last %},{% endif %}{%- endfor %}/spotlink?maxPoolSize=40",
        "MEMCACHE_ADDRESS": "localhost:11211",
        "KAFKA_METADATA_BROKER_LIST": "{% for host in groups.kafka -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:9092{% if not loop.last %},{% endif %}{%- endfor %}",
        "routes": {
          "inbound-psn": {
            "psnIncoming.endpoint.uri": "hacservlet:///PlacementStatusNotification?httpMethodRestrict=POST",
            "psn.inferQuartiles": "true"
          },
          "net-placement": {
            "sis.enabled": "true",
            "sis.endpoint": "http://tidm.virtua.com.br/profile",
            "sis.credential.comment": "Following is base64 encoded for secret with 'Basic' prefix. The current (25Mar2019) SIS endpoint doesn't require SSL or credentials",
            "sis.credential": "Basic c2VjcmV0",
            "placementRequestWithTimeout.endpoint.uri": "hacservlet:///PlacementRequest?httpMethodRestrict=POST",
            "daiReports.endpoint": "http://{{dai_reports_IP}}:8080/dai-reports",
            "ad.match.exact.resolution": "false",
            "camel.poolSize": "32"
          },
          "net-asset-status": {
            "assetStatusAcceptType": "MPEG2Only"
          }
        }
      },
      "soap-support": {
        "KAFKA_METADATA_BROKER_LIST": "{% for host in groups.kafka -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:9092{% if not loop.last %},{% endif %}{%- endfor %}",
        "routes": {
          "slr-soap-support": {
            "metadata.broker.list": "{% for host in groups.kafka -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:9092{% if not loop.last %},{% endif %}{%- endfor %}",
            "kafka.metadata.broker.list": "{% for host in groups.kafka -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:9092{% if not loop.last %},{% endif %}{%- endfor %}",
            "zookeeper.connect": "{% for host in groups.zookeepers -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:2181{% if not loop.last %},{% endif %}{%- endfor %}",
            "soapSupport.endpoint.uri": "hacservlet:///",
            "soapSupport.PlacementRequest.endpoint": "http://localhost:8080/slr-director/PlacementRequest",
            "soapSupport.PlacementStatusNotification.endpoint": "http://201.6.6.55:737/slr-director/PlacementStatusNotification",
            "camel.poolSize": "32"
          }
        }
      }
    },
    "spotbuilder": {
      "public.url": "http://{{spotbuilder_public_IP}}:8080/spotbuilder",
      "public.url.ui": "http://{{spotbuilder_public_IP}}:8080/spotbuilder-ui",
      "mongo.host": "{% for host in groups.mongo -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:27017{% if not loop.last %},{% endif %}{%- endfor %}",
      "vinz.endpoint": "http://{{vinz_IP}}:8080/vinz",
      "KAFKA_METADATA_BROKER_LIST": "DAICTSLAB015.netdai.com.br:9092,DAICTSLAB022.netdai.com.br:9092,DAICTSLAB025.netdai.com.br:9092,DAICTSLAB032.netdai.com.br:9092,DAICTSLAB035.netdai.com.br:9092,"
    },
    "vinz": {
      "mongo.host": "{% for host in groups.mongo -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:27017{% if not loop.last %},{% endif %}{%- endfor %}"
    }
  }
}
