{
  "thistech": {
    "dai-ui": {
      "dai.endpoint": "http://{{dai_IP}}:8080/dai",
      "dai.ui.endpoint": "http://{{dai_ui_IP}}:8080/dai-ui",
      "esp.endpoint": "http://{{esp_IP}}:8080/esp",
      "metamore.endpoint": "http://{{metamore_IP}}:8080/metamore",
      "oplog.endpoint": "http://{{oplog_IP}}:8080/oplog",
      "spotbuilder.endpoint": "http://{{spotbuilder_IP}}:8080/spotbuilder",
      "vinz.endpoint": "http://{{vinz_IP}}:8080/vinz",
      "slr.director.endpoint": "http://{{slr_director_IP}}:8080/slr-director"
    },
    "dai-ui2": {
      "dai.endpoint": "http://{{dai_ui2_IP}}:8080/dai",
      "dai.ui.endpoint": "http://{{dai_ui2_IP}}:8080/dai-ui",
      "esp.endpoint": "http://{{esp_IP}}:8080/esp",
      "metamore.endpoint": "http://{{metamore_IP}}:8080/metamore",
      "oplog.endpoint": "http://{{oplog_IP}}:8080/oplog",
      "spotbuilder.endpoint": "http://{{spotbuilder2_IP}}:8080/spotbuilder2",
      "vinz.endpoint": "http://{{vinz_IP}}:8080/vinz",
      "slr.director.endpoint": "http://{{slr_director_IP}}:8080/slr-director"
    },
    "dai": {
      "reports": {
        "sftp.User": "csvpuser",
        "sftp.Password": "Verizon1",
        "sftp.Host": "10.82.10.37",
        "sftp.Port": "22",
        "sftp.entertainmentReport.Path": "/ifs/ThisTech_IDP_3.0/entertainmentreports",
        "sftp.adCopyReport.Path": "/ifs/ThisTech_IDP_3.0/adcopyreports",
        "sftp.Timeout": "60000",
        "mongo.propagation.delay.seconds": "600",
        "scheduler.num.threads": "1",
        "scheduler.entertainmentReport.start.time": "00:15",
        "scheduler.adCopyReport.start.time": "00:30",
        "scheduler.entertainmentReport.period.seconds": "86400",
        "scheduler.adCopyReport.period.seconds": "86400",
        "scheduler.entertainmentReport.delivery.time": "05:00",
        "scheduler.adCopyReport.delivery.time": "05:30",
        "scheduler.deliverNow.delay.seconds": "300",
        "mongo.host": "{% for host in groups.mongo -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:27017{% if not loop.last %},{% endif %}{%- endfor %}",
        "assetReports.enabled": "true"
      }
    },
    "esp": {
      "mongo.host": "{% for host in groups.mongo -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:27017{% if not loop.last %},{% endif %}{%- endfor %}",
      "vinz.endpoint": "http://{{vinz_IP}}:8080/vinz",
      "esp.endpoint": "http://{{esp_IP}}:8080/esp"
    },
    "metamore": {
      "public.url": "http://{{metamore_public_IP}}:8080/metamore",
      "data.directory": "{{data_dir}}",
      "mongo.host": "{% for host in groups.mongo -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:27017{% if not loop.last %},{% endif %}{%- endfor %}",
      "events.mongo.host": "{% for host in groups.mongo -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:27017{% if not loop.last %},{% endif %}{%- endfor %}",
      "vinz.endpoint": "http://localhost:8080/vinz",
      "kafkaConfig/metadataBrokerList": "{% for host in groups.kafka -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:9092{% if not loop.last %},{% endif %}{%- endfor %}",
      "scte130.version": "2.0",
      "scte130.system": "thistech.metamore.3",
      "edl.sftp.timeout": "15000",
      "edl.schedule": "{{edl_schedule}}",
      "edl.retention.duration.uncorrelated": "{{edl_retention_duration_uncorrelated_minutes}}",
      "cis.cursor.expire.hours": "{{cis_cursor_expire_hours}}",
      "cis.registration.callback.all": "true",
      "csv.enable.multiple.rows": "{{csv_enable_multiple_rows}}",
      "jvm.monitor.schedule": "",
      "csv.retry.window.ms": "{{csv_retry_window_ms}}",
      "cis.update.perform.version.check": "false",
      "asset.validation.ADI.enabled": "true",
      "elasticsearch.transport.addresses": "{% for host in groups.elasticsearch -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:9300, {%- endfor %}",
      "edl.sftp.timeout": "15000",
      "metamore.report.url.generate.AD": "http://{{dai_reports_IP}}:8080/dai-reports/daiAssets/adCopyReport",
      "metamore.report.url.generate.Entertainment": "http://{{dai_reports_IP}}:8080/dai-reports/daiAssets/entertainmentReport"
    },
    "oplog": {
      "mongo.host": "{% for host in groups.mongo -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:27017{% if not loop.last %},{% endif %}{%- endfor %}",
      "default.mongo.host": "{% for host in groups.mongo -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:27017{% if not loop.last %},{% endif %}{%- endfor %}",
      "vinz.endpoint": "http://{{vinz_IP}}:8080/vinz"
    },
    "slr": {
      "psn-processor": {
        "CIS_ENDPOINT": "{{CIS_ENDPOINT}}",
        "POIS_ENDPOINT": "{{POIS_ENDPOINT}}",
        "SPOTBUILDER_ENDPOINT": "{{SPOTBUILDER_ENDPOINT}}",
        "POIS_2_ENDPOINT": "http://localhost:8080/spotbuilder2/poisrs",
        "SPOTBUILDER_2_ENDPOINT": "{{SPOTBUILDER_ENDPOINT}}2",
        "MONGO_CLIENT_URI": "mongodb://spotlink:spotlink@she1fpdaimongo06-priv.csfp.verizon.com:27017,she1fpdaimongo13-priv.csfp.verizon.com:27017,she1fpdaimongo19-priv.csfp.verizon.com:27017,/spotlink?maxPoolSize=40",
        "MEMCACHE_ADDRESS": "localhost:11211",
        "KAFKA_METADATA_BROKER_LIST": "{% for host in groups.kafka -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:9092{% if not loop.last %},{% endif %}{%- endfor %}",
        "routes": {
          "generic-psn": {
            "beacon.endpoint.component": "ahc:",
            "camel.timeout.maxPoolSize": "1024",
            "camel.timeout.poolSize": "512"
          }
        }
      },
      "director": {
        "CIS_ENDPOINT": "{{CIS_ENDPOINT}}",
        "POIS_ENDPOINT": "{{POIS_ENDPOINT}}",
        "SPOTBUILDER_ENDPOINT": "{{SPOTBUILDER_ENDPOINT}}",
        "POIS_2_ENDPOINT": "http://localhost:8080/spotbuilder2/poisrs",
        "SPOTBUILDER_2_ENDPOINT": "{{SPOTBUILDER_ENDPOINT}}2",
        "MONGO_CLIENT_URI": "mongodb://spotlink:spotlink@{% for host in groups.mongo -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:27017{% if not loop.last %},{% endif %}{%- endfor %}/spotlink?maxPoolSize=40",
        "MEMCACHE_ADDRESS": "localhost:11211",
        "KAFKA_METADATA_BROKER_LIST": "{% for host in groups.kafka -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:9092{% if not loop.last %},{% endif %}{%- endfor %}",
        "routes": {
          "inbound-psn": {
            "psnIncoming.endpoint.uri": "hacservlet:///PlacementStatusNotification?httpMethodRestrict=POST",
            "psn.inferQuartiles": "true"
          },
          "vzfios-placement": {
            "placementRequestWithTimeout.endpoint.uri": "hacservlet:///PlacementRequest?httpMethodRestrict=POST",
            "ad.match.exact.resolution": "false",
            "daiReports.endpoint": "http://{{dai_reports_IP}}:8080/dai-reports",
            "camel.poolSize": "32",
            "camel.maxPoolSize": "512",
            "camel.timeout.poolSize": "512",
            "camel.timeout.maxPoolSize": "1024"
          },
          "inbound-psn2": {
            "psnIncoming.endpoint.uri": "hacservlet:///PlacementStatusNotification2?httpMethodRestrict=POST",
            "psn.inferQuartiles": "true"
          },
          "vzfios-placement2": {
            "placementRequestWithTimeout.endpoint.uri": "hacservlet:///PlacementRequest2?httpMethodRestrict=POST",
            "ad.match.exact.resolution": "false",
            "daiReports.endpoint": "http://{{dai_reports_IP}}:8080/dai-reports",
            "camel.poolSize": "32",
            "camel.maxPoolSize": "512",
            "camel.timeout.poolSize": "512",
            "camel.timeout.maxPoolSize": "1024"
          },
          "vzfios-asset-status": {
            "assetStatusAcceptType": "MPEG2Only"
          }
        }
      },
      "soap-support": {
        "KAFKA_METADATA_BROKER_LIST": "{% for host in groups.kafka -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:9092{% if not loop.last %},{% endif %}{%- endfor %}",
        "routes": {
          "slr-soap-support": {
            "metadata.broker.list": "{% for host in groups.kafka -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:9092{% if not loop.last %},{% endif %}{%- endfor %}",
            "kafka.metadata.broker.list": "{% for host in groups.kafka -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:9092{% if not loop.last %},{% endif %}{%- endfor %}",
            "zookeeper.connect": "{% for host in groups.zookeepers -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:2181{% if not loop.last %},{% endif %}{%- endfor %}",
            "soapSupport.endpoint.uri": "hacservlet:///",
            "soapSupport.PlacementRequest.endpoint": "http://localhost:8080/slr-director/PlacementRequest",
            "soapSupport.PlacementStatusNotification.endpoint": "http://localhost:8080/slr-director/PlacementStatusNotification",
            "response.header.exclude.xForwardedFor": "true",
            "camel.poolSize": "32"
          }
        }
      }
    },
    "spotbuilder": {
      "public.url": "http://{{spotbuilder_public_IP}}:8080/spotbuilder",
      "public.url.ui": "http://{{spotbuilder_public_IP}}:8080/spotbuilder-ui",
      "mongo.host": "{% for host in groups.mongo -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:27017{% if not loop.last %},{% endif %}{%- endfor %}",
      "mongo.connectionsPerHost": "500",
      "vinz.endpoint": "http://{{vinz_IP}}:8080/vinz",
      "KAFKA_METADATA_BROKER_LIST": "{% for host in groups.kafka -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:9092{% if not loop.last %},{% endif %}{%- endfor %}",
      "kafkaConfig": {
        "metadataBrokerList": "{% for host in groups.kafka -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:9092{% if not loop.last %},{% endif %}{%- endfor %}"
      }
    },
    "spotbuilder2": {
      "public.url": "http://{{spotbuilder2_IP}}:8080/spotbuilder2",
      "public.url.ui": "http://{{spotbuilder2_IP}}:8080/spotbuilder-ui",
      "mongo.host": "{% for host in groups.mongo -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:27017{% if not loop.last %},{% endif %}{%- endfor %}",
      "mongo.connectionsPerHost": "500",
      "vinz.endpoint": "http://{{vinz_IP}}:8080/vinz",
      "KAFKA_METADATA_BROKER_LIST": "{% for host in groups.kafka -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:9092{% if not loop.last %},{% endif %}{%- endfor %}",
      "kafkaConfig": {
        "metadataBrokerList": "{% for host in groups.kafka -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:9092{% if not loop.last %},{% endif %}{%- endfor %}"
      }
    },
    "vinz": {
      "mongo.host": "{% for host in groups.mongo -%}{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}:27017{% if not loop.last %},{% endif %}{%- endfor %}"
    }
  }
}
