####################### Metamore cluster configuration ######################
cluster.name: elasticsearch_metamore
node.name: elasticSearch_metamore_{{ groups.elasticsearch.index(inventory_hostname) + 1 }}
index.number_of_shards: 1
index.number_of_replicas: 2
gateway.recover_after_nodes: 2
gateway.recover_after_time: 5m
gateway.expected_nodes: 3
discovery.zen.minimum_master_nodes: 2
bootstrap.mlockall: true
discovery.zen.ping.unicast.hosts: [
{%- for host in groups.elasticsearch %}
"{{ hostvars[host].ansible_hostname }}.{{ hostvars[host].ansible_domain }}",
{%- endfor %}]
network.host: {{ ansible_hostname }}.{{ansible_domain }}
