# This file belongs in /opt/tomcat/lib - from Ansible
spotbuilder.endpoint=http://{{spotbuilder_public_IP}}:8080/spotbuilder
vinz.endpoint=http://{{vinz_IP}}:8080/vinz
oplog.endpoint=http://{{oplog_IP}}:8080/oplog
